@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lexend Deca", sans-serif;
  background: white;
  background-size: 100%;
  background-position: cover;
}

#navbar {
  /* border: 2px solid beige; */
  display: block;
  height: 90px;
  background: #01377D;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

#navbar img {
  width: 80px;
  position: absolute;
  top: 10px;
  left: 8%;
}

#navbar ul {
  float: right;
  margin-right: 25px;
}

#navbar ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;
}

#navbar ul li a {
  position: relative;
  color: white;
  font-size: 18px;
  padding: 5px 0;
}

#navbar ul li a:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s linear;
}

#navbar ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

#navbar #bar,
#navbar #cancel {
  color: white;
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#navbar #check {
  display: none;
}

#content {
  /* border: 2px solid yellow; */
  background-color: white;
  margin-top: 90px;
  position: relative;
  z-index: 1;
}

#brief {
  background-color: #1a3956;
  min-height: 250px;
  overflow: hidden;
}

#brief-left {
  /* border: 2px solid red; */
  float: left;
  margin-left: 80px;
  margin-top: 45px;
  display: flex;

  @media (max-width: 1024px) {
    margin-left: 30px;
  }

  @media (max-width: 460px) {
    margin-left: 10px;
    margin-top: 20px;
  }
}

#brief-left img {
  width: 70px;
  padding: 20px;
  background-color: #01377D;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  @media (max-width: 1024px) {
    width: 64px;
    height: 64px;
    padding: 15px;
  }

  @media (max-width: 460px) {
    width: 60px;
    height: 60px;
    padding: 15px;
  }
}

#course-summary {
  /* border: 2px solid blue; */
  margin-left: 10px;
  display: block;
  width: 450px;

  @media (max-width: 460px) {
    width: 70%;
    margin-right: 10px;
  }
}

#course-summary p:nth-of-type(1) {
  /* border: 2px solid yellow; */
  margin-top: 15px;
  height: 30px;
  font-size: 30px;
  color: white;
  float: top;
  display: block;

  @media (max-width: 1024px) {
    margin-top: 10px;
    font-size: 25px;
  }

  @media (max-width: 860px) {
    margin-top: 10px;
    font-size: 25px;
  }

  @media (max-width: 460px) {
    margin-top: 5px;
    font-size: 19px;
  }
}

#brief-left p:nth-of-type(2) {
  /* border: 2px solid gray; */
  font-size: 14px;
  margin-top: 25px;
  flex: bottom;
  color: #eeeeee;

  @media (max-width: 1024px) {
    margin-top: 12px;
    font-size: 15px;
  }

  @media (max-width: 860px) {
    margin-top: 15px;
    font-size: 14px;
  }

  @media (max-width: 460px) {
    margin-top: 5px;
    font-size: 11px;
    text-align: justify;
  }
}

#brief-right {
  /* border: 2px solid yellow; */
  display: flex;
  float: right;
  margin-right: 80px;
  margin-top: 70px;
  height: 85px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  @media (max-width: 1024px) {
    margin-right: 30px;
    height: 65px;
  }

  @media (max-width: 860px) {
    display: none;
  }
}

#hundred {
  background-color: hsla(161, 59%, 54%, 0.97);
  border-radius: 10px 0 0 10px;
  font-size: 33px;
  color: white;

  @media (max-width: 1024px) {
    font-size: 23px;
  }
}

#hundred p {
  text-align: center;
  line-height: 85px;
  padding: 0 7px;

  @media (max-width: 1024px) {
    line-height: 65px;
  }
}

#hundred-info {
  border: 2px solid hsla(161, 59%, 54%, 0.97);
  border-radius: 0 10px 10px 0;
  color: hsla(161, 59%, 54%, 0.97);
  font-size: 15px;
  height: 81px;
  margin: auto auto;

  @media (max-width: 1024px) {
    font-size: 13px;
    height: 61px;
  }
}

#hundred-info p {
  padding: 0 7px;
  text-align: left;
  margin-top: 13px;

  @media (max-width: 1024px) {
    margin-top: 7px;
  }
}

#overview {
  /* border: 2px solid brown; */
  display: inline-flex;
  background-color: #ebf1f8;
  min-height: 100px;
  position: absolute;
  top: 190px;
  left: 10%;
  right: 10%;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  z-index: 4;

  @media (max-width: 768px) {
    display: block;
    top: 170px;
  }

  @media (max-width: 460px) {
    display: block;
    top: 135px;
  }
}

#overview #info:not(:last-child) {
  /* border: 2px solid red; */
  height: 60px;
  width: 200px;
  text-align: center;
  margin: auto auto;

  @media (max-width: 768px) {
    border-bottom: 1px solid #1a3956;
  }
}

#overview #info:last-child {
  height: 60px;
  width: 200px;
  text-align: center;
  margin: auto auto;
}

#overview #info p:nth-of-type(1) {
  text-transform: uppercase;
  font-size: 14px;
  color: #272c37;
  margin-top: 10px;

  @media (max-width: 768px) {
    font-size: 13px;
  }
}

#overview #info p:nth-of-type(2) {
  font-size: 17px;
  color: #272c37;
  margin-top: 10px;
  font-weight: bold;

  @media (max-width: 768px) {
    font-size: 15px;
  }
}

#about-course-1 {
  width: 100%;
  background-color: #ebf1f8;
  position: absolute;
  z-index: 3;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}

#course-overview {
  /* border: 2px solid burlywood; */
  margin: 80px 80px 40px 80px;
  line-height: 2;

  @media (max-width: 768px) {
    margin: 290px 30px 50px 30px;
    line-height: 1.8;
  }

  @media (max-width: 460px) {
    margin: 250px 10px 50px 10px;
    line-height: 1.8;
  }
}

#course-overview p:nth-of-type(1),
#course-details p:nth-of-type(1),
#placement-kit p:nth-of-type(1) {
  font-size: 23px;
  font-weight: bold;
  color: #272c37;

  @media (max-width: 768px) {
    font-size: 17px;
  }
}

#course-overview p:nth-of-type(2) {
  @media (max-width: 768px) {
    font-size: 14px;
    text-align: justify;
  }
}

#course-overview p:nth-of-type(3) {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

#course-overview li {
  list-style-type: disc;
  margin-left: 20px;

  @media (max-width: 1024px) {
    margin-left: 30px;
    text-indent: -20px;
  }

  @media (max-width: 768px) {
    margin-left: 30px;
    font-size: 14px;
    text-indent: -20px;
  }
}

#about-course-2 {
  margin-top: 500px;
  position: relative;

  @media (max-width: 920px) {
    margin: 72% 10px 50px 10px;
    line-height: 1.8;
  }

  @media (max-width: 768px) {
    margin: 750px 10px 50px 10px;
    line-height: 1.8;
  }

  @media (max-width: 460px) {
    margin: 880px 10px 50px 10px;
    line-height: 1.8;
  }

  @media (max-width: 440px) {
    margin: 900px 10px 50px 10px;
    line-height: 1.8;
  }

  @media (max-width: 420px) {
    margin: 910px 10px 50px 10px;
    line-height: 1.8;
  }

  @media (max-width: 400px) {
    margin: 920px 10px 50px 10px;
    line-height: 1.8;
  }

  @media (max-width: 380px) {
    margin: 930px 10px 50px 10px;
    line-height: 1.8;
  }

  @media (max-width: 360px) {
    margin: 950px 10px 50px 10px;
    line-height: 1.8;
  }

  @media (max-width: 340px) {
    margin: 1015px 10px 50px 10px;
    line-height: 1.8;
  }

  @media (max-width: 320px) {
    margin: 1030px 10px 50px 10px;
    line-height: 1.8;
  }
}

#course-details {
  margin: 80px 80px 0px 80px;
  line-height: 2;

  @media (max-width: 768px) {
    margin: 290px 30px 0px 30px;
    line-height: 1.8;
  }

  @media (max-width: 460px) {
    margin: 250px 10px 0px 10px;
    line-height: 1.8;
  }
}

#course-details button,
#placement-kit button {
  background-color: #01377D;
  border: 0;
  text-align: left;
  padding: 10px;
  width: 100%;
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  color: white;
  margin-top: 7px;
  text-transform: uppercase;

  @media (max-width: 786px) {
    font-size: 13px;
  }

  @media (max-width: 460px) {
    font-size: 11px;
  }

  @media (max-width: 376px) {
    font-size: 9px;
  }

  @media (max-width: 321px) {
    font-size: 8px;
  }
}

#course-details button i,
#placement-kit button i {
  float: right;
  font-size: 20px;
  color: black;
  padding-right: 5px;
  color: white;

  @media (max-width: 786px) {
    font-size: 14px;
  }

  @media (max-width: 460px) {
    font-size: 11px;
  }

  @media (max-width: 376px) {
    font-size: 10px;
  }

  @media (max-width: 321px) {
    font-size: 9px;
  }
}

#course-details li,
#placement-kit li {
  list-style-type: disc;
  margin-left: 20px;
}

#course-details button:hover,
#placement-kit button:hover {
  cursor: pointer;
}

#placement-kit {
  margin: 30px 80px 40px 80px;
  line-height: 2;

  @media (max-width: 768px) {
    margin: 30px 30px 0px 30px;
    line-height: 1.8;
  }

  @media (max-width: 460px) {
    margin: 20px 10px 50px 10px;
    line-height: 1.8;
  }
}

.topic {
  background-color: #ebf1f8;
  text-align: left;
  padding: 10px;
  display: none;
  font-family: "Lexend Deca", sans-serif;
  font-size: 14px;

  @media (max-width: 786px) {
    font-size: 13px;
  }

  @media (max-width: 460px) {
    font-size: 11px;
    text-indent: -16px;
  }

  @media (max-width: 376px) {
    font-size: 10px;
    text-indent: -14px;
  }

  @media (max-width: 321px) {
    font-size: 8px;
    text-indent: -12px;
  }
}

#register {
  min-height: 300px;
  width: 100%;
  background-color: #1a3956;
  position: absolute;
  z-index: 3;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
}

#register-wrapper {
  /* border: 2px solid white; */
  margin: 30px auto;
  display: inline-flex;
  text-align: center;

  @media (max-width: 460px) {
    display: block;
  }
}

#upcoming-batches {
  /* border: 2px solid red; */
  display: block;
  background-color: white;
  width: 400px;
  border-radius: 10px;
  margin-right: 20px;
  min-height: 170px;

  @media (max-width: 460px) {
    width: 300px;
    margin: auto auto;
    min-height: 113px;
  }
}

#upcoming-batches p {
  background-color: #01377D;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  color: white;

  @media (max-width: 460px) {
    padding: 5px;
    font-size: 13px;
  }
}

#upcoming-batches #batch {
  border-bottom: 1px solid black;
  display: flex;
  background-color: #ebf1f8;
}

#upcoming-batches #batch p {
  border-radius: 0;
  color: #272c37;
  display: inline-block;
  margin: auto;
  background-color: #ebf1f8;
}

#course-fee {
  /* border: 2px solid yellow; */
  border-radius: 10px;
  width: 200px;
  min-height: 150px;
  background-color: #ebf1f8;

  @media (max-width: 460px) {
    margin: auto auto;
  }
}

#course-fee p:nth-of-type(1) {
  color: #272c37;
  font-size: 24px;
  margin: 20px 0 10px 0;
  font-weight: bold;

  @media (max-width: 460px) {
    padding: 5px 0;
    font-size: 20px;
  }
}

#course-fee p:nth-of-type(2) {
  color: #01377D;
  font-size: 28px;
  margin: 5px 0 10px 0;

  @media (max-width: 460px) {
    font-size: 24px;
  }
}

#course-fee button {
  width: 150px;
  height: 35px;
  border-radius: 5px;
  border: 0;
  margin-top: 15px;
  font-family: "Lexend Deca", sans-serif;
  background-color: #272c37;
  color: white;

  @media (max-width: 460px) {
    font-size: 14px;
  }
}

#course-fee button:hover {
  cursor: pointer;
  background-color: #01377D;
}

#register-demo {
  /* border: 2px solid white; */
  margin: 20px auto;
  color: white;
  font-size: 26px;

  @media (max-width: 460px) {
    font-size: 16px;
  }
}

#registration-form {
  margin: 20px auto;
  background-color: white;
  display: flex;
  width: 400px;
  min-height: 400px;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  @media (max-width: 460px) {
    width: 280px;
    margin: 10px auto;
    min-height: 370px;
  }
}

#registration-form form {
  margin-top: 30px;
  /* border: 2px solid yellow; */
}

#registration-form p {
  display: block;
  font-size: 20px;
  color: #272c37;
  padding-bottom: 25px;

  @media (max-width: 460px) {
    font-size: 16px;
    margin-left: 0;
  }
}

#registration-form input,
#registration-form select {
  display: inline-block;
  margin: 8px auto;
  width: 300px;
  height: 40px;
  border-radius: 25px;
  border-width: 0px;
  padding-left: 15px;
  background-color: #e6e6e6;
  color: #272c37;
  font-family: "Lexend Deca", sans-serif;

  @media (max-width: 460px) {
    width: 220px;
    height: 40px;
    margin: 6px auto;
  }
}

#registration-form select {
  width: 315px;

  @media (max-width: 460px) {
    width: 230px;
    height: 40px;
    margin: 6px auto;
  }
}

#registration-form button {
  border-width: 0px;
  margin: 15px auto;
  display: block;
  width: 130px;
  height: 40px;
  align-self: center;
  color: #e6e6e6;
  background-color: #272c37;
  font-size: 15px;
  border-radius: 25px;
  font-family: "Lexend Deca", sans-serif;
}

#registration-form button:hover {
  cursor: pointer;
  background: #01377D;
}

@media (max-width: 1118px) {
  #navbar img {
    left: 5%;
  }
}

@media (max-width: 944px) {
  #navbar img {
    left: 3%;
    top: 20px;
    width: 70px;
  }

  #navbar ul li a {
    font-size: 16px;
  }
}

@media (max-width: 860px) {
  body {
    background-size: 100vh;
  }

  #navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #01377D;
  }

  #navbar img {
    width: 65px;
  }

  #navbar #bar {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #01377D;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  #navbar ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  #navbar ul li a {
    font-size: 20px;
  }

  #check:checked ~ ul {
    left: 0;
  }

  #check:checked ~ #navbar i:nth-of-type(1) {
    display: none;
  }

  #check:checked ~ #navbar #cancel {
    display: block;
  }
}
