@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Lexend Deca", sans-serif;
  background-color: #ebf1f8;
}

#navbar {
  display: block;
  height: 90px;
  background: #01377D;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

#navbar img {
  width: 80px;
  position: absolute;
  top: 10px;
  left: 8%;
}

#navbar ul {
  float: right;
  margin-right: 25px;
}

#navbar ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;
}

#navbar ul li a {
  position: relative;
  color: white;
  font-size: 18px;
  padding: 5px 0;
}

#navbar ul li a:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s linear;
}

#navbar ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

#navbar #bar,
#navbar #cancel {
  color: white;
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#navbar #check {
  display: none;
}

#courses-body {
  /* border: 2px solid yellow; */
  margin-top: 130px;
  display: block;
}

#courses-body h2 {
  text-align: center;
  text-transform: uppercase;
  color: #01377D;
}

#courses {
  margin-top: 30px;
  text-align: center;
}

#course {
  border: 2px solid #01377D;
  border-radius: 10px;
  height: 300px;
  width: 250px;
  margin: 10px;
  display: inline-block;
  background: #01377D;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#course img {
  /* border: 2px solid pink; */
  width: 80px;
  margin: 10px auto 20px auto;
}

#course p {
  /* border: 2px solid green; */
  color: #ebf1f8;
  display: block;
  margin-bottom: 60px;
  font-size: 35px;
}

#course button {
  border: 2px solid #ebf1f8;
  height: 40px;
  width: 120px;
  border-radius: 50px;
  color: #01377D;
  font-family: "Lexend Deca", sans-serif;
}

#course button:hover {
  border: 2px solid #ebf1f8;
  background-color: #01377D;
  color: white;
  cursor: pointer;
}

#course:hover {
  border: 2px solid #ebf1f8;
}

@media (max-width: 1118px) {
  #navbar img {
    left: 5%;
  }
}

@media (max-width: 944px) {
  #navbar img {
    left: 3%;
    top: 20px;
    width: 70px;
  }

  #navbar ul li a {
    font-size: 16px;
  }
}

@media (max-width: 860px) {
  body {
    background-size: 100vh;
  }

  #navbar img {
    width: 65px;
  }

  #navbar #bar {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #01377D;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  #navbar ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  #navbar ul li a {
    font-size: 20px;
  }

  #check:checked ~ ul {
    left: 0;
  }

  #check:checked ~ #navbar #bar {
    display: none;
  }

  #check:checked ~ #navbar #cancel {
    display: block;
  }
}
